.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #F0F6F8;
  min-height: 70vh;
}

.innerHeroBanner {
  padding: 6.5rem 0;
}

html[data-theme='dark'] .heroBanner {
  background-color: #33363b;
}

.heroBannerLogo {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gettingStartedSection {
  background-color: #f7f7f7;
}

html[data-theme='dark'] .gettingStartedSection {
  background-color: #33363b;
}

.gridButtonsWrapper {
  margin: 32px auto 32px auto;
  max-width: 700px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}